n8n/workflows/agent-core.workflow.json
{
  "name": "Cueva's Agent API",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0374a42e-cf49-4729-bbf3-c6b4b9d637b0",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "answer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a5a6845d-c739-420a-8296-6eedfcb573ac",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "execute_command",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6cd3f72c-2792-48c5-95c4-b9639d43a829",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "control_alexa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        256,
        -496
      ],
      "id": "ac131687-80a0-4ad9-9390-ce323c8c6173",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// ==========================\n// 1. PARSEAR RESPUESTA DEL LLM\n// ==========================\nconst raw = $json.llm_response;\n\nlet parsed;\ntry {\n  // Intentamos limpiar la respuesta por si el LLM incluye backticks de markdown\n  const cleanRaw = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(cleanRaw);\n} catch (e) {\n  parsed = {\n    action: 'answer',\n    command: null,\n    message: 'Error al parsear la respuesta del agente: ' + raw\n  };\n}\n\n// ==========================\n// 2. PROCESAR MEMORIA\n// ==========================\nconst memoryRaw = $json.memory;\nlet memory;\n\ntry {\n  if (typeof memoryRaw === \"string\") {\n    memory = JSON.parse(memoryRaw);\n  } else {\n    memory = memoryRaw;\n  }\n} catch (e) {\n  memory = {\n    last_app: null,\n    last_action: null,\n    status: \"idle\",\n    mode: \"normal\"\n  };\n}\n\n// ==========================\n// 3. LOGICA DE COMANDO DINÁMICO\n// ==========================\n// Aseguramos que 'command' exista para que el nodo SSH no falle\nconst finalCommand = parsed.command || null;\n\n// ==========================\n// 4. RETURN FINAL (UNIFICADO)\n// ==========================\nreturn [\n  {\n    json: {\n      action: parsed.action || 'answer',\n      command: finalCommand,\n      message: parsed.message || '',\n      memory: memory,\n      chat_id: $json.chat_id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -480
      ],
      "id": "57f2992a-4bb2-410c-920a-2dd8b57c2e11",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c98f817b-7b0a-4edd-be09-e81c4d690339",
              "name": "message.text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            },
            {
              "id": "60259fa7-d25a-4f91-8cdc-7f579d8f5fa4",
              "name": "sessionKey",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id.toString()}}",
              "type": "number"
            },
            {
              "id": "a881ed12-2729-41d4-9903-38adf60931ae",
              "name": "message.chat.id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "8b72100a-bf72-4f3a-b0ce-c3dfac221e0f",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        -80
      ],
      "id": "dd3ca34a-3932-4f49-b260-06ba614bcb29",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cbacc25-d380-46ca-a529-f704d59e3167",
              "name": "llm_response",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "368c7747-2216-4ac5-af9a-ff6c96625590",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -480
      ],
      "id": "4dd8aa8b-d3aa-49ab-ac61-28a2c7d609f9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        -688
      ],
      "id": "1d9f96c9-c9d9-4675-ac8d-b2d4bb3e0dff",
      "name": "Send a text message1",
      "webhookId": "c0359265-039d-4314-b22b-4b63853ddbea",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "Lfxg4ktTomSveb30",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "Recibí tu mensaje correctamente.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -768,
        -256
      ],
      "id": "670683f9-4926-4769-9fb9-a5a34dd64171",
      "name": "Send a text message2",
      "webhookId": "c0359265-039d-4314-b22b-4b63853ddbea",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "Lfxg4ktTomSveb30",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1744,
        -528
      ],
      "id": "8eb0b3a0-29ea-4241-a386-e00231d46839",
      "name": "Telegram Trigger",
      "webhookId": "25bde3bf-1a06-4047-b813-83d7991399f5",
      "credentials": {
        "telegramApi": {
          "id": "Lfxg4ktTomSveb30",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un agente de automatización y cerebro central con acceso a la terminal Bash de la PC del usuario y al sistema de casa inteligente Alexa. Tu objetivo es traducir las peticiones del usuario en acciones precisas para el dispositivo correspondiente.\n\n\n\nDebes responder ÚNICAMENTE con JSON válido.\n\n\n\nAcciones disponibles:\n\n1. \"execute_command\": Úsala para acciones en la PC (abrir programas, scripts, archivos). Requiere el campo \"command\" con código Bash.\n\n2. \"control_alexa\": Úsala para controlar dispositivos de casa inteligente, luces, rutinas o pedirle a Alexa que diga algo. Requiere el campo \"command\" con la instrucción en lenguaje natural para Alexa.\n\n3. \"answer\": Úsala para conversaciones generales o aclaraciones.\n\n\n\nReglas de ejecución:\n\n- Para la PC: Eres libre de generar cualquier comando de Bash. Si piden \"Modo creativo\", usa: bash -lc 'scripts/studio-one-start.sh'.\n\n- Para Alexa: Eres libre de generar cualquier comando de voz que Alexa entienda (ej. \"enciende la luz\", \"pon música jazz\", \"dime el clima\").\n\n- El campo \"message\" debe ser una respuesta natural indicando qué acción estás tomando.\n\n\n\nEstructura obligatoria del JSON:\n\n{\n\n  \"action\": \"execute_command\" | \"control_alexa\" | \"answer\",\n\n  \"command\": \"comando de bash O instrucción para Alexa\",\n\n  \"message\": \"explicación natural para el usuario\"\n\n}\n\n\n\nRestricciones:\n\n- No inventes explicaciones fuera del JSON.\n\n- Si la petición no requiere una acción técnica, usa \"answer\".\n\n- Identifica el dispositivo correcto: si mencionas \"luces\", \"casa\", \"clima\" o \"rutinas\", usa \"control_alexa\". Si mencionas \"archivos\", \"Studio One\", o comandos técnicos, usa \"execute_command\".\n\n\n\nMensaje del usuario:\n\n{{ $('Telegram Trigger').item.json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -368,
        -480
      ],
      "id": "b0ea7b0d-0f5a-4169-a80b-916d43278ef6",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "qwen2.5:7b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -368,
        -256
      ],
      "id": "14185a51-1443-48cf-9e3f-4911c78b1c51",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "RnkvHiVkHonlRa7P",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionKey }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -272,
        -64
      ],
      "id": "0ac4f23a-1d62-4962-a7a9-9950ad20b535",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\n// 🔥 obtener chat_id correctamente\nconst chatId = $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"].toString();\n\nconst now = Date.now();\nconst timeoutMs = 15 * 60 * 1000;\n\nif (!staticData.lastSeenByChat) {\n  staticData.lastSeenByChat = {};\n}\n\nconst lastSeen = staticData.lastSeenByChat[chatId] || 0;\nconst sendGreeting = (now - lastSeen) > timeoutMs;\n\n// actualizar última interacción\nstaticData.lastSeenByChat[chatId] = now;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      sendGreeting,\n      chat_id: chatId,\n      sessionKey: chatId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        -544
      ],
      "id": "4b530133-8943-4898-828b-e6a5c4f8a07a",
      "name": "Greeting Gate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aab958b9-7714-4bfb-bdf4-5eb9278aca2c",
              "leftValue": "=={{ $json.sendGreeting }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -928,
        -96
      ],
      "id": "b619927e-28fa-4843-8087-fc12cce9e3e3",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a4fb1393-d09d-41b4-b4ba-3ece6d403ab7",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": "={{7983544755}}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1568,
        -528
      ],
      "id": "4ffcf8da-b60e-4c96-899c-93031b9cb917",
      "name": "If1"
    },
    {
      "parameters": {
        "errorMessage": "No"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1296,
        -256
      ],
      "id": "c26c1f26-cdd5-47e2-91fa-9a72e0731e54",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff5379fa-b2e6-4d18-a5bb-86bbc5d53372",
              "name": "memory",
              "value": "={{ JSON.parse($json[\"stdout\"]) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        -544
      ],
      "id": "8160438e-83f3-4a47-be2f-ebf99664d258",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.stdout || $json.stderr || \"Comando ejecutado con éxito.\" }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        -480
      ],
      "id": "734352e1-a120-4ee0-a000-43bdb7742ac2",
      "name": "Send a text message3",
      "webhookId": "c0359265-039d-4314-b22b-4b63853ddbea",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "Lfxg4ktTomSveb30",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ $json.command }}",
        "cwd": "/mnt/agentsdisk/Projex/home-automation-agent/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        688,
        -480
      ],
      "id": "3bea702e-c6d9-4def-b53a-a217d4f2c49b",
      "name": "Execute a command4",
      "credentials": {
        "sshPrivateKey": {
          "id": "vBqd2yEOMgsgMz6I",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "operation": "textCommand",
        "device": "d321c554c9954b718d3697e3ad5a235c",
        "text": "={{ $json.command }}"
      },
      "type": "@ac-codeprod/n8n-nodes-alexa-remote.alexaRemote",
      "typeVersion": 1,
      "position": [
        480,
        -224
      ],
      "id": "2514e167-294a-449b-a926-06d955df6b5d",
      "name": "Send text command",
      "credentials": {
        "alexaRemoteApi": {
          "id": "HnpdrOLsCF7c7nXo",
          "name": "Alexa Remote account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.consolidated_message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        -224
      ],
      "id": "ce016419-0001-4d95-aa69-ee4cc7492bd6",
      "name": "Send a text message",
      "webhookId": "c0359265-039d-4314-b22b-4b63853ddbea",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "Lfxg4ktTomSveb30",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = items.map(item => item.json);\n\n// Consolida los resultados\nconst message = `✅ Comando ejecutado con éxito.\\n\\n` +\n  results.map((r, i) => \n    `Dispositivo ${i + 1}:\\n` +\n    `• Salida: ${r.stdout || 'Sin salida'}\\n` +\n    `• Estado: ${r.stderr || 'Completado'}`\n  ).join('\\n\\n');\n\nreturn { consolidated_message: message };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -224
      ],
      "id": "d7a3bfe7-cf5a-407b-81c6-23d26c837199",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a command4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send text command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Gate": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Greeting Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command4": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Send text command": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a2be155f-74ad-45ff-ad9c-8ac7eb913d22",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a482bbc01f022154ff1157065a678647f2e6bc9538a846ec991e08c99a201d9"
  },
  "id": "ctvCrdSyZpQOCdj4",
  "tags": []
}