n8n/workflows/Cueva's Agent API.json
{
  "name": "Cueva's Agent API",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "open_studioone",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f2ad1328-bacd-49ee-90ec-9a0d71743760"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0374a42e-cf49-4729-bbf3-c6b4b9d637b0",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "answer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        240
      ],
      "id": "ac131687-80a0-4ad9-9390-ce323c8c6173",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.llm_response;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = {\n    action: 'answer',\n    message: 'No pude interpretar correctamente la instrucción.'\n  };\n}\n\nreturn [\n  {\n    json: {\n      ...parsed,\n      chat_id: $json.chat_id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        352
      ],
      "id": "57f2992a-4bb2-410c-920a-2dd8b57c2e11",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c98f817b-7b0a-4edd-be09-e81c4d690339",
              "name": "message.text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            },
            {
              "id": "60259fa7-d25a-4f91-8cdc-7f579d8f5fa4",
              "name": "sessionKey",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id.toString()}}",
              "type": "number"
            },
            {
              "id": "a881ed12-2729-41d4-9903-38adf60931ae",
              "name": "message.chat.id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "8b72100a-bf72-4f3a-b0ce-c3dfac221e0f",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        240
      ],
      "id": "dd3ca34a-3932-4f49-b260-06ba614bcb29",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cbacc25-d380-46ca-a529-f704d59e3167",
              "name": "llm_response",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "368c7747-2216-4ac5-af9a-ff6c96625590",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        64
      ],
      "id": "4dd8aa8b-d3aa-49ab-ac61-28a2c7d609f9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Modo creativo activado (: ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        -192
      ],
      "id": "0e045e81-f5ee-4bd3-81be-4337d282e63e",
      "name": "Send a text message",
      "webhookId": "c0359265-039d-4314-b22b-4b63853ddbea",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "Lfxg4ktTomSveb30",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        272
      ],
      "id": "1d9f96c9-c9d9-4675-ac8d-b2d4bb3e0dff",
      "name": "Send a text message1",
      "webhookId": "c0359265-039d-4314-b22b-4b63853ddbea",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "Lfxg4ktTomSveb30",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "Recibí tu mensaje correctamente.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        192
      ],
      "id": "670683f9-4926-4769-9fb9-a5a34dd64171",
      "name": "Send a text message2",
      "webhookId": "c0359265-039d-4314-b22b-4b63853ddbea",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "Lfxg4ktTomSveb30",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        128
      ],
      "id": "8eb0b3a0-29ea-4241-a386-e00231d46839",
      "name": "Telegram Trigger",
      "webhookId": "25bde3bf-1a06-4047-b813-83d7991399f5",
      "credentials": {
        "telegramApi": {
          "id": "Lfxg4ktTomSveb30",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un agente local que controla acciones permitidas en la PC del usuario. Debes responder únicamente con JSON válido.\\n\\nAcciones permitidas:\\n- open_studioone\\n- answer\\n\\nReglas:\\n- Si el usuario pide modo creativo, responde exactamente: {\\\"action\\\":\\\"open_studioone\\\"}\\n- Si el usuario solo pregunta o pide otra cosa, responde: {\\\"action\\\":\\\"answer\\\",\\\"message\\\":\\\"...\\\"}\\n- No agregues texto fuera del JSON.\\n\\nMensaje del usuario: {{ $('Telegram Trigger').item.json.message.text }}\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -320,
        -288
      ],
      "id": "b0ea7b0d-0f5a-4169-a80b-916d43278ef6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen2.5:7b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -688,
        -256
      ],
      "id": "14185a51-1443-48cf-9e3f-4911c78b1c51",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "RnkvHiVkHonlRa7P",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionKey }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -640,
        -16
      ],
      "id": "0ac4f23a-1d62-4962-a7a9-9950ad20b535",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=bash -lc '/mnt/agentsdisk/Projex/agents/studio-one-start.sh'"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1072,
        -192
      ],
      "id": "2979a2df-d40a-4ea9-88ea-50190e490f8c",
      "name": "Execute a command",
      "credentials": {
        "sshPrivateKey": {
          "id": "vBqd2yEOMgsgMz6I",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\nconst chatId = $json.message.chat.id.toString();\nconst now = Date.now();\n\n// cambia este valor a lo que quieras\nconst timeoutMs = 15 * 60 * 1000; // 15 minutos\n\nif (!staticData.lastSeenByChat) {\n  staticData.lastSeenByChat = {};\n}\n\nconst lastSeen = staticData.lastSeenByChat[chatId] || 0;\nconst sendGreeting = (now - lastSeen) > timeoutMs;\n\n// actualizamos la última actividad\nstaticData.lastSeenByChat[chatId] = now;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      sendGreeting,\n      chat_id: $json.message.chat.id,\n      sessionKey: chatId,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        384
      ],
      "id": "4b530133-8943-4898-828b-e6a5c4f8a07a",
      "name": "Greeting Gate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aab958b9-7714-4bfb-bdf4-5eb9278aca2c",
              "leftValue": "=={{ $json.sendGreeting }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -704,
        432
      ],
      "id": "b619927e-28fa-4843-8087-fc12cce9e3e3",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Greeting Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Gate": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ac5df880-cfdb-461c-9553-e4d2e03c4e11",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c35b97225c8a39e55318cc23e58ce05625d02597a117f9c4d9642ef7a88e98c"
  },
  "id": "ctvCrdSyZpQOCdj4",
  "tags": []
}